/*5章【jQueryでHTMLのCSS要素を操作しよう】*/

/*.box1 {*/
/*上から下へスライドさせる*/
/*box1が最初は非表示になるように、app.cssファイルにdisplay: none;を追加*/
/* 下記をapp5.jsに記述

$(function(){
  $('.box1').slideDown();
});
*/

/*  display: none;
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}
*/


/*下から上へスライドさせる*/
/*この場合、表示されている要素を隠すアニメーションになるので、app.cssファイル内のdisplay: none;の記述は不要です。*/

/*.box1 {
  /* display: none; を削除 */
/*  background-color: #FF0000;
  height: 200px;
  width: 200px;
}
*/



/*要素を表示・非表示する*/


/*非表示の要素をjQueryで表示させる*/
/*box1が最初は非表示になるように、app.cssファイルにdisplay: none;を追加*/
/*.box1 {
  display: none;
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}*/


/*表示されている要素をjQueryで非表示にする*/
.box1 {
  /* display: none; を削除 */  background-color: #FF0000;
  height: 200px;
  width: 200px;
}