/*「マウスオーバー」イベント、「マウスアウト」イベント
ブラウザの操作は、マウスやタッチパッドを使って行うのが一般的です。
このとき、HTML要素上にマウスカーソルが重なっている状態を「マウスオーバー（mouseover）」と言う。
一方、HTML要素からマウスカーソルが外れることを「マウスアウト（mouseout）」と言う。
*/


/*.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}
*/


/*class属性を追加する/解除する

上記の記述では、マウスカーソルのイベントを検出して、その都度、CSSを変更させており、すべてのCSSをいちいち書かねばならず、手間がかかる。
そこで、マウスオーバー時のCSS（class）をあらかじめ定義しておき、マウスカーソルの状況に応じて、そのCSSを追加（または解除）するように設定した。
app.cssファイルとapp.jsファイルを、以下のように書き換える。*/

.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
}
/*以下を追加*/
/*マウスオーバーすると.box1-extのclassが追加され、マウスアウトすると.box1-extのclassが外れるという記述。*/
.box1-ext {
  border: 10px solid black;
}
